<head th:fragment="tag-header">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <link th:href="@{/css/modificaciones.css}" rel="stylesheet" />
    <link th:href="@{/css/modal_config.css}" rel="stylesheet" />
    <link th:href="@{/css/tabla_config.css}" rel="stylesheet" />
    <link th:href="@{/css/lista_venta_config.css}" rel="stylesheet" />

    <link rel="icon" type="image/x-icon" th:href="@{/assets/icon.ico}">


    <script th:src="@{/js/jquery/jquery3.6.js}" crossorigin="anonymous"></script>

    <script src="https://kit.fontawesome.com/05f51629c7.js" crossorigin="anonymous"></script>
</head>
